@import "../../../assets/style/variables.scss";

.CardTags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.CardTags__item {
  position: relative;
  z-index: 1;
  display: block;
  padding: 0.4rem 0.6rem;
  background-color: red;
  border-radius: 0.5rem;
  font-size: 19px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: $color-accent-orange;
  color: #302f34;
  font-weight: 700;

  @media (max-width: 1800px) {
    font-size: 16px;
  }

  @media (max-width: 1600px) {
    font-size: 16px;
  }

  @media (max-width: 1440px) {
    font-size: 20px;
  }

  @media (max-width: 1200px) {
    font-size: 19px;
  }

  @media (max-width: 1100px) {
    font-size: 18px;
  }

  @media (max-width: 1000px) {
    font-size: 22px;
  }

  @media (max-width: 850px) {
    font-size: 20px;
  }

  @media (max-width: 700px) {
    font-size: 17px;
  }

  @media (max-width: 580px) {
    font-size: 16px;

    &:nth-child(n + 6) {
      display: none;
    }
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }

  &:nth-child(2n) {
    background-color: #e08509;
  }

  &:nth-child(3n) {
    background-color: #c09e1a;
  }

  &:nth-child(4n) {
    background-color: #a0b72b;
  }

  &:nth-child(5n) {
    background-color: #90c434;
  }
}
