@font-face {
  font-family: "Nautilus Pompilius";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/nautiluspompilius.woff2") format("woff2"),
    url("../fonts/nautiluspompilius.woff") format("woff");
}
