// COLORS
$color-accent-orange: #f07800;

// FONTS
$font-nautilus: "Nautilus Pompilius", "sans-serif";

// BREAKPOINTS
$desktop: 1920px;
$desktop-sm: 1280px;
$desktop-sm-2: 1024px;
$tablet: 768px;
$mobile: 425px;
