@import "../../assets/style/variables";
@import "../../assets/style/mixins";
.CardsList {
  display: grid;
  margin: 0;
  padding: 5rem 0;
  list-style: none;
  column-gap: 3.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 3.5rem;
  position: relative;
  @include smoothValue("padding-top", 20px, 30px, $mobile, $desktop);
  @include smoothValue("padding-bottom", 30px, 80px, $mobile, $desktop);
  @media (max-width: 1800px) {
    column-gap: 3rem;
    row-gap: 3rem;
  }

  @media (max-width: 1600px) {
    column-gap: 2.5rem;
    row-gap: 2.5rem;
  }

  @media (max-width: 1440px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
  }

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
  }

  @media (max-width: 600px) {
    column-gap: 2rem;
    row-gap: 2rem;
  }
}
