$c-gamboge: #eb9605;
$c-governor-bay: #4547a9;
.Card {
  position: relative;
  padding-top: 80%;
  background-size: 100%;
  background-position: center;
  border-radius: 2rem;
  box-shadow: 0 0 50px $c-governor-bay;
  border: 3px solid $c-governor-bay;
  transition: all 0.1s ease;
  opacity: 0;
  transform: scale(0.8);
  &:hover {
    box-shadow: 0 0 50px $c-gamboge;
    border: 1px solid black;
    margin-bottom: -15px;
  }
  @media (max-width: 700px) {
    padding-top: 85%;
  }
  @media (max-width: 1440px) {
    box-shadow: 0 0 30px $c-governor-bay;
    &:hover {
      box-shadow: 0 0 30px $c-gamboge;
      margin-bottom: -25px;
    }
  }
  @media (max-width: 1000px) {
    &:hover {
      margin-bottom: 4px;
    }
  }

  &._darkened::before {
    border-radius: 2rem;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.5);
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 1rem 1.6rem;
    opacity: 0;
    transition: all 0.15s ease;

    @media (max-width: 1800px) {
      padding: 0.8rem 0.7rem 1.3rem;
    }

    @media (max-width: 1600px) {
      padding: 0.6rem 0.6rem 0.9rem;
    }

    @media (max-width: 1440px) {
      padding: 0.9rem 0.8rem 1.5rem;
    }

    @media (max-width: 1200px) {
      padding: 0.7rem 0.7rem 1.3rem;
    }

    @media (max-width: 1100px) {
      padding: 0.6rem 0.6rem 1.1rem;
    }

    @media (max-width: 1000px) {
      padding: 0.9rem 0.6rem 1.4rem;
    }

    @media (max-width: 700px) {
      padding: 0.6rem 0.4rem 1rem;
    }

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.5);
      z-index: 0;
      border-radius: 2rem;
    }

    &--visible {
      opacity: 1;
    }

    &--always-visible {
      opacity: 1;
    }
  }
  &__buttons-wrapper {
    display: flex;
  }
  &__title {
    position: relative;
    z-index: 1;
    margin: 0;
    text-shadow: 1px 1px #000;
    padding: 0.4rem 1.5rem;
    border-radius: 10px;
    color: #ef820d;
    background-color: rgba(0, 0, 0, 0.65);
    font-size: 33px;

    @media (max-width: 1800px) {
      font-size: 28px;
      margin-bottom: 5px;
    }

    @media (max-width: 1600px) {
      font-size: 24px;
    }

    @media (max-width: 1440px) {
      font-size: 34px;
    }

    @media (max-width: 1200px) {
      font-size: 30px;
    }

    @media (max-width: 1100px) {
      font-size: 28px;
    }

    @media (max-width: 1000px) {
      font-size: 32px;
    }

    @media (max-width: 850px) {
      font-size: 28px;
    }

    @media (max-width: 700px) {
      font-size: 26px;
    }

    @media (max-width: 580px) {
      font-size: 22px;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }
  &__button {
    display: block;
    transition: all 0.6 ease;
    margin-right: 1rem;
    font-size: 22px;

    @media (max-width: 1800px) {
      font-size: 18px;
      margin-top: 5px;
      padding: 0.8rem 1.3rem;
    }

    @media (max-width: 1600px) {
      font-size: 16px;
      padding: 0.65rem 1.1rem;
    }

    @media (max-width: 1440px) {
      font-size: 22px;
      padding: 0.8rem 1.3rem;
    }

    @media (max-width: 1200px) {
      font-size: 20px;
      padding: 0.7rem 1.1rem;
    }

    @media (max-width: 1100px) {
      font-size: 18px;
      padding: 0.65rem 1.05rem;
    }

    @media (max-width: 1000px) {
      font-size: 22px;
      padding: 0.85rem 1.35rem;
    }

    @media (max-width: 850px) {
      font-size: 18px;
      padding: 0.75rem 1.15rem;
    }

    @media (max-width: 400px) {
      font-size: 15px;
      padding: 0.6rem 1rem;
    }
  }
  &__message {
    position: absolute;
    text-align: center;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 27px;
    color: #fff;
    &-count {
      font-size: 60px;
      font-weight: 700;
      display: block;
    }
  }
}
