@import "../../assets/style/variables";
@import "../../assets/style/mixins";

.Heading {
  font-size: 6rem;
  color: $color-accent-orange;
  font-family: $font-nautilus;
  text-align: center;
  margin: 0;
  @include smoothValue("font-size", 40px, 96px, $mobile, $desktop);
}

.Heading__name {
  text-decoration: underline;
  @media (max-width: $desktop-sm-2) {
    display: block;
  }
}
